.container{
    background-color: #CAFFA0;
    display: flex;
    justify-content: space-between;
    padding: 32px;
    border-radius: 24px;
    margin: 100px auto;
}
.calltoaction{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-top{
        margin-bottom: 81px;
    }
    &-title{
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 36px;
        color: #383838;
        margin-bottom: 16px;
    }
    &-text{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #383838;
    }
}
.quiz{
    max-width: 576px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 24px;
    padding: 32px;
    padding-bottom: 114px;
    position: relative;
}
.question {
    display: none;
    &.active{
        display: block;
    }
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 24px;
        &-title{
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }
        &-counter{
            color: #9B9B9B;
            .current{
                &::after{
                    content: "/";
                    margin: 2px;
                }
            }
        }
    }
    .answers{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8px;
        input[type="radio"]{
            width: 0;
            height: 0;
            display: none;
        }
    }
    & label{
        width: calc(50% - 4px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        font-size: 16px;
        font-weight: 400;
        font-weight: bold;
        color: #555;
        border: 1px solid #D8D8D8;
        padding: 18px;
        border-radius: 16px;
        cursor: pointer;
        .dot{
            border: 1px solid #D8D8D8;
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
        input[type="radio"]:checked {
            & ~ .dot{
                border: 6px solid #383838;
            }
        }
    }
    & select{
        width: 100%;
        height: 50px;
        padding: 10px;
        font-size: 20px;
        border-radius: 10px;
        border: none;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
}
.btns{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 32px;
    width: calc(100% - 64px);
    .btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
        padding: 14px 20px;
        font-size: 16px;
        font-weight: 400;
        border-radius: 10px;
        cursor: pointer;
        &.disabled{
            opacity: 0.5;
            cursor: default;
        }
        &-prev.disabled{
            opacity: 0;
            pointer-events: none;
        }
        &-next{
            background-color: #383838;
            color: #fff;
        }
        &-prev{
            border: 1px solid #D8D8D8;
            color: #383838;
            pointer-events: all;
        }
    }
}